body{
	background:#D8D8D8;
}
#wrapper{
	margin-left:auto;
	background:#A0A0A0;
	width:800px;
	height:800px;
}
#workSpace{
	background:#A0A0A0;
	width:800px;
	height:850px;
	position:absolute;
}

#canvas{
	position:absolute;
	
}
#CanvasDiv{
	position:absolut;
	margin:0px 0px 0px 0px;
	width:450px;
	vertical-align: middle;
	background:#A0A0A0;
}

#imageDisplay{
	opacity:1;
	margin-top:50px;
	margin-left:300px;
	position:absolute;
	z-index:1;
	border:5px solid #222222;
	background:white;
}

#innerImage{
	margin:20px;
}

#cross{
	width:50px;
	height:50px;
	opacity:1;
	z-index:1;
	position:absolute;
	cursor:pointer;
}

#help{
	position:absolute;
	width:300px;
	height:840px;
	overflow:scroll;
	margin:0px 0px 0px 800px;
	background:white;
	padding:5px;
	
}
#help img{
	margin:5px;
	height:150px;
}
#help h2{
	font-family:helvetica;
	font-size:20px;
}
#help p{
	font-family:helvetica;
	font-size:15px;
}

